@import "tailwindcss";

@font-face {
    font-family: 'HoshikoSatsuki';
    src: url('./assets/fonts/HoshikoSatsuki.ttf') format('truetype');
}

body {
    @apply text-white;
}

@theme {
    --font-hoshiko: 'HoshikoSatsuki', sans-serif;
    --color-primaryYellow: #f49a31;
}

@keyframes blinkPulse {
    0% {
        filter: brightness(1);
    }

    20% {
        filter: brightness(1.6);
    }

    40% {
        filter: brightness(1);
    }

    60% {
        filter: brightness(1.6);
    }

    80% {
        filter: brightness(1);
    }

    100% {
        filter: brightness(1.6);
    }
}

.animate-blink {
    animation: blinkPulse 0.7s ease-in-out 3;
}