@import "tailwindcss";

@font-face {
    font-family: 'HoshikoSatsuki';
    src: url('./assets/fonts/HoshikoSatsuki.ttf') format('truetype');
}

body {
    @apply text-white;
}

@theme {
    --font-hoshiko: 'HoshikoSatsuki', sans-serif;
    --color-primaryYellow: #f49a31;
}

@keyframes blinkPulse {
    0% {
        filter: brightness(1);
    }

    33% {
        filter: brightness(1.6);
    }

    66% {
        filter: brightness(1.6);
    }

    100% {
        filter: brightness(1);
    }
}

.animate-blink {
    animation: blinkPulse 1s ease-in-out 1;
}